main {
    display: flex;
    background-color: grey;
    flex-wrap: wrap;
}

main #informational {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    min-width: 450px;
}

article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#guide {
    flex-grow: 3;
}
#terminology {
    flex-grow: 1;
}

h2 {
    font-size: 1.5rem;
    border: 2px solid black;
    padding: 0 5px;
    margin: 5px 15px;
    border-radius: 15px;
    text-align: center;
    background-color: whitesmoke;
}

.container {
    border: 2px solid black;
    padding: 15px;
    margin: 5px 15px;
    border-radius: 15px;
    flex-grow: 1;
    background-color: whitesmoke;
}

main #who-we-are{
    flex-grow: 1;
    display: flex;
    flex-flow: column;
}

#devs {
    display: flex;
    flex-direction: column;
}

#devs article {
    flex-grow: 1;
}

#who-we-are .container {
    padding: 5px;
    margin: 5px 0;
}

#devs article h4 {
    font-size: 1.5rem;
    border: 2px solid black;
    padding: 0 5px;
    margin: 1px 5px;
    border-radius: 15px;
    text-align: center;
}

#devs article p {
    border: 2px solid black;
    padding: 10px;
    margin: 1px 5px;
    border-radius: 15px;
    flex-grow: 1;  
}

@media only screen and (max-width: 675px) {
    main {
        flex-direction: column;
    }
    #who-we-are {
        flex-grow: 0;
    }
    #who-we-are .container {
        flex-grow: 0.5;
    }
}