main {
    display: flex;
    justify-content: center;
    background-color: grey;
}

#table-nav, #user-table, #bet-actions {
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    height: fit-content;
}

#table-nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#table-nav div {
    flex-grow: 1;
    padding-bottom: 15px;
    border-radius: 15px;
}

#table-nav details {
    border: 2px solid;
}

#table-nav li {
    background-color: whitesmoke;
    padding: 5px;
}

#user-table {
    flex-grow: 4;
}

#user-table table {
    width: 100%;
    text-align: left;
    border-collapse: separate;
    background-color: whitesmoke;
    border: 2px solid black;
}

caption, summary, h4 {
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 15px;
    padding: 0 5px;
    margin: 5px 5px;
    background-color: whitesmoke;
}

td, th {
    border: 1px solid grey;
    padding: 2.5px 5px;
}

#bet-actions {
    align-self: flex-start;
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#buttons {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
}

#buttons button {
    flex-grow: 1;
    margin:5px;
}
